* {
  user-select: none;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: lightgrey;
  overflow: hidden;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
